<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="nexus-group" value="http://localhost:8081/repository/nuget-group/index.json" allowInsecureConnections="True" /> -->
  </packageSources>
</configuration>
